<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="fileSystemDistributorSettings"
             type="FileSystemDistributor.Configuration.FileSystemDistributorSettings, FileSystemDistributor"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <fileSystemDistributorSettings culture="en-US">
    <directories>
      <directory path="D:\.Net Mentoring Program\5th week Oct22-Oct28\DirToListen"/>
    </directories>
    <rules defaultDirectory="D:\.Net Mentoring Program\5th week Oct22-Oct28\DefaultTestDir">
      <rule template="1.*" destinationDir="D:\.Net Mentoring Program\5th week Oct22-Oct28\TestDir\1" isSerialNumberNeeded="false" isDateNeeded="false"/>
      <rule template="2.*" destinationDir="D:\.Net Mentoring Program\5th week Oct22-Oct28\TestDir\2" isSerialNumberNeeded="true" isDateNeeded="true"/>
      <rule template="3.*" destinationDir="D:\.Net Mentoring Program\5th week Oct22-Oct28\TestDir\3" isSerialNumberNeeded="false" isDateNeeded="true"/>
      <rule template="4.*" destinationDir="D:\.Net Mentoring Program\5th week Oct22-Oct28\TestDir\4" isSerialNumberNeeded="true" isDateNeeded="false"/>
    </rules>
  </fileSystemDistributorSettings>
</configuration>